{% block title %}Contact Us{% endblock %}
{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="css/contact-us.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1>{{ block('title') }}</h1>

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    {% if not form.vars.submitted or not form.vars.valid %}
        <div class="form-block">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button id="{{form.vars.name}}-btn" type="submit">Go</button>
            {{ form_end(form) }}
        </div>
    {% endif %}

{% endblock %}
{% block javascripts %}
    <script src="js/contact-us.js"></script>
{% endblock %}