{% block title %}Contact Us{% endblock %}
{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="css/contact-us.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1>{{ block('title') }}</h1>

    <div class="row">
        {% for name, form in forms %}
            <div class="form-block">
                <h2>{{ name }}</h2>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button id="{{form.vars.name}}-btn" type="submit">Go</button>
                {{ form_end(form) }}
            </div>
        {% endfor %}
    </div>

{% endblock %}
{% block javascripts %}
    <script src="js/contact-us.js"></script>
{% endblock %}